.btn {
  color: #c09318;
  background: transparent;
  border: 2px solid #c09318;
  border-radius: 15px;
  padding: 15px;
  font-size: 2rem;
}

.btn:hover,
.btn.active {
  background: #c09318;
  color: #fff;
}

.btn + .btn {
  margin-left: 20px;
}
